@use '../../../sass/variables' as v
.total__button
  grid-row: 3
  background: #24B47E
  border-radius: 4px
  padding: 0
  margin: 0
  border: none
  width: 180px
  height: 50px
  position: relative
  cursor: pointer
  span
    color: #FFFFFF
    font-family: v.$font-family
    font-style: normal
    font-weight: 600
    font-size: 14px
    line-height: 1.29
    position: relative
    z-index: 1
  &::before
    content: ""
    position: absolute
    display: block
    top: 0
    left: 0
    width: 0
    height: 50px
    border-radius: 4px
    transition: .4s
    background: #319E75
  &:hover::before
    width: 100%
