@use '../../../sass/variables' as v
.footer__title
  font-family: v.$font-family
  font-style: normal
  font-weight: 600
  font-size: 24px
  line-height: 1.33
  color: v.$color-main
  margin: 0
  padding: 0 0 50px
