@use '../../sass/variables' as v
@mixin title-font
  font-family: v.$font-family
  font-style: normal
  font-weight: 700
  color: v.$color-main
  font-size: 55px
  line-height: 1.09
  margin: 0
  padding: 0

@mixin subtitle-font
  font-family: v.$font-family
  font-style: normal
  font-weight: 400
  color: v.$color-subtitle
  font-size: 18px
  line-height: 1.56
  opacity: 0.7
  margin: 0
  padding: 0

@mixin link-font
  font-family: v.$font-family
  font-style: normal
  font-weight: 500
  color: v.$color-main
  font-size: 14px
  line-height: 1.29
  text-decoration: none
  margin: 0
  padding: 0

@mixin quote-font
  font-family: v.$font-family
  font-style: normal
  font-weight: 600
  font-size: 34px
  line-height: 1.29
  letter-spacing: -0.5px
  color: v.$color-main
